<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModal"
  aria-hidden="true"
>
  <form class="modal-dialog" id="loginForm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginModalTitle">Login</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="loginEmail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="loginEmail"
            aria-describedby="emailHelp"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="loginPassword" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="loginPassword"
            name="password"
            required
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" id="loginButton">
          <span role="status" aria-hidden="true"></span>
          <span>Login</span>
        </button>
      </div>
    </div>
  </form>
</div>
