<div
  class="modal fade"
  id="signUpModal"
  tabindex="-1"
  aria-labelledby="signUpModal"
  aria-hidden="true"
>
  <form class="modal-dialog" id="signUpForm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="signUpModalTitle">Sign Up</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="signUpUsername" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="signUpUsername"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="signUpEmail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="signUpEmail"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="signUpPassword" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="signUpPassword"
            name="password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="signUpConfirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="signUpConfirmPassword"
            name="confirmPassword"
            required
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" id="signUpButton">
          <span role="status" aria-hidden="true"></span>
          <span>Sign Up</span>
        </button>
      </div>
    </div>
  </form>
</div>
